## Python code formate
flake8
mypy
isort
black

## Responsive web app
lona 

## Base django project and PostgreSql DB
django
pillow
psycopg2-binary

## Base Flask project and orm package
Flask
SQLAlchemy
Flask-SQLAlchemy

## More packages
django-autoslug
django-utils-six
django-imagekit
django-embed-video
random-username
django-better-admin-arrayfield

## Admin refonte
django-baton
django-jazzmin
django-admin-interface

## TinyMCE HTMLField
django-tinymce4-lite
django-filebrowser-no-grappelli

## Rest API
djangorestframework
django-cors-headers
drf_yasg2

## Scraping
bs4
cssutils
requests
apscheduler

selenium
webdriver-manager

## GraphQL API
graphene-django
django-graphiql
django-filter
graphene-django-cud

## Elasticsearch
elasticsearch
elasticsearch-dsl
django-elasticsearch-dsl

## Deploiement
gunicorn
whitenoise
django-brotli

## Cloud for media
cloudinary==1.24.0
django-cloudinary-storage

## Chat
channels
daphne

## Mobile
kivy
kivymd
kivg
Cython
jnius
plyer
buildozer
orm
kivytransitions

# Test
pytest
pytest-cov
coverage

# Archive
patool
pyunpack

# pip
twine

# Desktop
PyQt5

# Build
auto_py_to_exe
